.container {
  margin: 0 auto;
  max-width: 400px;
  min-width: 200px;
  border-radius: var(--border-radius-size-xxxs);
  border: 1px solid var(--color-bg-primary);
  padding: 15px;
}

.inputContainer {
  margin: 15px 0;
}

.text {
  display: block;
  text-align: center;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-link);
}