.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shrink {
  flex-shrink: 0;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
