.card {
  display: flex;
  flex-direction: column;
  padding: 10px 3px;
  flex-shrink: 0;
  position: relative;
  width: 120px;
  max-height: 140px;
  border-radius: var(--border-radius-size-xxxs);
  border: 1px solid var(--color-border-base);
  background-color: var(--color-bg-secondary);
}

.closeIcon {
  position: absolute;
  right: -5px;
  top: -4px;
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  cursor: pointer;
}

.label {
  padding-left: 5px;
  color: var(--color-text-primary);
}

.caption {
  padding-left: 5px;
  color: var(--color-text-caption);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

