.container {
  height: 100%;

  background-color: var(--color-bg-primary-v1);
  border-radius: var(--border-radius-size-s);

  cursor: pointer;
}

.userCard {
  &:hover {
    background-color: var(--color-bg-hover);
    border-radius: var(--border-radius-size-s);
  }
}
