.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.fullLastImage {
  grid-column: span 2;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-size-s);
  overflow: hidden;
  cursor: pointer;
}
