@mixin scroll {
  position: relative;
  scrollbar-color: var(--color-bg-hover) transparent;
}

.vertical {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  @include scroll;
}

.horizontal {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  @include scroll;
}