.container {
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  padding-top: 5px;
  z-index: 2;
}

.date {
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-size-s);
  color: var(--color-text-primary);
  padding: 5px 10px;
}