$borderRadius: var(--border-radius-size-s);

.message {
  flex-direction: row;
  max-width: 500px;

  .avatar {
    flex-shrink: 0;
    align-self: flex-end;
    margin-bottom: 6px;
    z-index: 1;
  }

  .bubble {
    position: relative;
    background-color: var(--color-bg-interactive-primary);
    border-radius: $borderRadius;
    padding: 0 10px 10px;

    &:before, &:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 15px;
    }

    &:before {
      left: -7px;
      width: 18px;
      background-color: var(--color-bg-interactive-primary);
      border-bottom-right-radius: 16px 14px;
    }

    &:after {
      left: -26px;
      width: 26px;
      background-color: var(--color-bg-primary-v1);
      border-bottom-right-radius: 10px;
    }
  }
}

/*me*/

.me {
  flex-direction: row-reverse;
  margin-left: auto;

  .bubble {
    background-color: var(--color-bg-interactive-primary);

    &:before {
      left: auto;
      right: -7px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 16px 14px;
      background-color: var(--color-bg-interactive-primary);
    }

    &:after {
      left: auto;
      right: -26px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 10px;
    }
  }
}
