.container {
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-size-xxxs);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 0 8px;
}

.contentRecord {
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  padding: 0 5px 0 0;
  gap: 5px;
  border-radius: var(--border-radius-size-s);
  background-color: var(--color-border-input-primary);
}

.label {
  color: var(--color-text-primary);
  text-align: right;
  font-variant-numeric: tabular-nums;
}

@include max-width(860px) {
  .contentRecord {
    gap: 0;
  }
}