.pointer {
  cursor: pointer;
}

.marginEmoji {
  margin-right: 20px;
}

.positionPicker {
  position: absolute;
  bottom: 40px;
  right: 0;
  z-index: 9999;
}

/* показывать скрывать блоки*/

.container {
  display: inline-flex;
  position: relative;

  &:hover .block {
    visibility: visible;
    transform: translateY(15px);
  }
}

.block {
  position: absolute;
  visibility: hidden;
}

.button{
  display: contents;
  cursor: pointer;
}