.content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
}

.avatar {
  position: relative;
  flex-shrink: 0;
}

.online {
  &::after {
    content: '';
    position: absolute;
    background-color: var(--color-online);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 3px;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    right: 0;
    bottom: 3px;
  }
}

.infoSection {
  min-width: 0;
}

.basicInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  flex-shrink: 0;
}

.additionalInfo {
  flex-shrink: 0;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

