.cardImage {
  position: relative;
  padding: 0;
  flex-shrink: 0;
  max-width: 125px;
  border-radius: var(--border-radius-size-xxxs);
  background-color: var(--color-bg-secondary);
}

.closeIcon {
  position: absolute;
  right: -5px;
  top: -4px;
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  cursor: pointer;
}

.image {
  height: 130px;
  border: 1px solid var(--color-border-base);
  border-radius: var(--border-radius-size-xxxs);
  overflow: hidden;
}