$padding: 10px;
$border: 2px solid var(--color-bg-primary);

.container {
  height: 96vh;
  display: grid;
  border: $border;
  border-radius: var(--border-radius-size-s);

  grid-template:
    "card-user header-user" auto
    "card-user content-message" 1fr
    / minmax(50px, 500px) 1fr;
}

.userCard {
  grid-area: card-user;
  border-right: $border;
  min-height: 0;
}

.headerUser {
  grid-area: header-user;
  padding: $padding;
  border-bottom: $border;
}

.contentMessage {
  grid-area: content-message;
  min-height: 0;
}

