$padding: 10px;
$border: 2px solid var(--color-bg-primary);

.container {
  height: calc(100vh - 2 * #{$padding});
  display: grid;
  border: $border;
  margin: $padding;

  border-radius: var(--border-radius-size-s);
  overflow: hidden;

  grid-template:
    "user-search user-head" auto
    "user-card content-message" 1fr
    "user-card content-input" auto
    / minmax(50px, 400px) 1fr;
}

.userSearch {
  display: grid;
  grid-area: user-search;
  border-right: $border;
  border-bottom: $border;
  min-height: 0;
}

.userCard {
  grid-area: user-card;
  border-right: $border;
  min-height: 0;
}

.userHead {
  grid-area: user-head;
  padding: $padding;
  border-bottom: $border;
  min-height: 0;
}

.contentMessage {
  grid-area: content-message;
  min-height: 0;
}

.contentInput {
  grid-area: content-input;
  padding: 0 $padding $padding $padding;
  z-index: 1;
}