$padding: 10px;
$border: 2px solid var(--color-bg-primary);

.container {
  height: calc(100vh - 2 * #{$padding});
  display: grid;
  border: $border;
  margin: $padding;

  border-radius: var(--border-radius-size-s);

  grid-template:
    "card-user header-user" auto
    "card-user content-message" 1fr
    "card-user send-message" auto
    / minmax(50px, 500px) 1fr;
}

.userCard {
  grid-area: card-user;
  border-right: $border;
  min-height: 0;
}

.headerUser {
  grid-area: header-user;
  padding: $padding;
  border-bottom: $border;
  min-height: 0;
}

.contentMessage {
  grid-area: content-message;
  min-height: 0;
}

.sendMessage {
  grid-area: send-message;
  padding: 0 $padding $padding $padding;
}

.point {
  cursor: pointer;
}