.container {
  width: 100%;
  border-radius: var(--border-radius-size-xxxs);
  padding: 10px;
  color: var(--color-bg-primary);
  background-color: var(--color-bg-primary-reverse);
}

.logout {
  flex-shrink: 0;
}