.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.hidden {
  width: 0;
  opacity: 0;
  transition: width 0.6s;
}

.logo {
  width: 50px;
  height: auto;
  object-fit: cover;
}

.toggleBtn {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-size-xxxs);
  cursor: pointer;
  padding: 10px 12px;
  color: var(--color-bg-primary);
  background-color: var(--color-bg-primary-reverse);
}

@include max-width(480px) {
  .toggleBtn {
    display: none;
  }
}
