.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.toggleBtn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 12px;
  color: var(--color-bg-primary);
}

.logo {
  width: 50px;
  height: auto;
  object-fit: cover;
}