.wrapper {
  position: relative;
  background-color: var(--color-bg-primary);
  border-top-right-radius: var(--border-radius-size-xxxs);
  border-top-left-radius: var(--border-radius-size-xxxs);
  padding: 10px 0;
}

.closeIcon {
  position: absolute;
  right: 0;
  top: -26px;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  border-radius: 50%;
  cursor: pointer;
}

.list {
  display: flex;
  flex-shrink: 0;
  gap: 10px;

  &:first-child {
    margin-left: 10px;
  }

  &:last-child {
    margin-right: 10px;
  }
}

.scrollHidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


