.container {
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.avatar {
  z-index: 1;
}

.chatBubble {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 60px;
  max-height: 40px;
  padding: 15px;
  background: var(--color-accent);
  border-radius: var(--border-radius-size-s);

  &:before, &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 15px;
  }

  &:before {
    left: -7px;
    width: 18px;
    background-color: var(--color-accent);
    border-bottom-right-radius: 16px 14px;
  }

  &:after {
    left: -26px;
    width: 26px;
    background-color: var(--color-bg-primary-v1);
    border-bottom-right-radius: 10px;
  }


}

.typingDots {
  display: flex;
  gap: 5px;
}

.typingDots span {
  width: 8px;
  height: 8px;
  background: var(--color-tertiary);
  border-radius: 50%;
  animation: bubble 1s infinite;
}

.typingDots span:nth-child(1) {
  animation-delay: 0s;
}

.typingDots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typingDots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bubble {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
