.wrapper {
  position: relative;
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-size-xxxs);
  padding: 10px 0;
  margin-bottom: 5px;
}

.closeIconContainer {
  position: absolute;
  right: 0;
  top: -26px;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  border-radius: 50%;
  cursor: pointer;
}

.closeIconContainer2 {
  position: absolute;
  right: -5px;
  top: -4px;
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  cursor: pointer;
}

.scrollHorizontal {
  gap: 10px;
}



