.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--border-radius-size-xxxs);
  border: 1px solid var(--color-bg-primary);
}

.cardContent {
  min-width: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

