.container {
  height: 100%;
  border-radius: var(--border-radius-size-s);
  cursor: pointer;
}

.list {
  padding: 0 10px 10px 10px;

  &:hover {
    border-radius: 0;
    background-color: var(--color-bg-hover);
  }

  &:first-child {
    border-top-left-radius: var(--border-radius-size-s);
  }

  &:last-child {
    border-bottom-left-radius: var(--border-radius-size-s);
  }
}
