.message {
  flex-direction: row;
  max-width: 500px;

  &Avatar {
    align-self: flex-end;
    margin-bottom: 30px;
  }

  &Bubble {
    position: relative;
    background-color: var(--color-accent);
    border-radius: 12px 12px 12px 0;
    padding: 0 10px 10px;

    &::after {
      content: "";
      position: absolute;
      left: -10px;
      bottom: 0;
      border-top: 20px solid var(--color-accent);
      border-right: 20px solid transparent;
      transform: rotate(180deg);
    }
  }

  &Name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  &Text {
    color: var(--color-text-primary);
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  &Date {
    font-size: var(--font-size-xs);
    align-self: flex-end;
  }
}
