.message {
  flex-direction: row;
  max-width: 500px;

  .avatar {
    align-self: flex-end;
    margin-bottom: 30px;
    z-index: 1;
  }

  .bubble {
    position: relative;
    background-color: var(--color-accent);
    border-radius: 15px;
    padding: 0 10px 10px;

    &:before, &:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 15px;
    }

    &:before {
      left: -7px;
      width: 18px;
      background-color: var(--color-accent);
      border-bottom-right-radius: 16px 14px;
    }

    &:after {
      left: -26px;
      width: 26px;
      background-color: var(--color-bg-primary-v1);
      border-bottom-right-radius: 10px;
    }
  }

  .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .text {
    color: var(--color-text-primary);
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .date {
    font-size: var(--font-size-xs);
    align-self: flex-end;
  }

  .checkIcons {
    align-self: flex-end;
    margin-bottom: 30px;
    flex-shrink: 0;
  }
}

/*me*/

.me {
  flex-direction: row-reverse;
  margin-left: auto;

  .avatar {
    border-color: var(--color-secondary);
  }

  .text {
    color: var(--color-text-primary);
  }


  .bubble {
    background-color: var(--color-secondary);

    &:before {
      left: auto;
      right: -7px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 16px 14px;
      background-color: var(--color-secondary);
    }

    &:after {
      left: auto;
      right: -26px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 10px;
    }
  }

  .date {
    align-self: flex-start;
  }
}
