.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
  background-image: url("../../assets/images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  color: var(--color-bg-primary-v1);
}
