.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border-radius: 999px;
  padding: 0 6px;
  height: 20px;
  min-width: 20px;
}

.indicator {
  color: var(--color-text-primary);
  font-size: var(--font-size-xs);
  line-height: 1;
}