.cardContainer {
  padding: 10px 0;
}

.title {
  font-size: 18px;
}

.pointer {
  cursor: pointer;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
